@{
    ViewData["Title"] = "Dashboard";
}

<h2>This is a dashboard page</h2>

@model ERP.Models.SignUpViewModel
<form asp-action="SignUp" asp-controller="Account" method="post">
    <input asp-for="Username" placeholder="Username" />
    <input asp-for="Password" type="password" placeholder="Password" />
    <button type="submit">Create Account</button>
</form>