@model ERP.Models.Warehouse.Warehouse_M

<h2>Warehouse Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Location</dt>
        <dd class="col-sm-9">@Model.Location</dd>

        <dt class="col-sm-3">Capacity</dt>
        <dd class="col-sm-9">@Model.Capacity</dd>

        <dt class="col-sm-3">Current Stock</dt>
        <dd class="col-sm-9">@Model.CurrentStock</dd>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
